@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    font-family: 'Oswald', 'Futura', sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}

li {
	background-color: #ec8b68;
	border-top: 1px solid #fe9772;
	border-bottom: 1px solid #9f593f;
	font-size: 24px;
	letter-spacing: .05em;
	list-style-type: none;
	text-shadow: 2px 2px 1px #9f593f;
	height: 50px;
	padding-left: 1em;
	padding-top: 10px;
}
